.results {
    width: 95%;
    background-color: var(--background-light);
    padding: 10px;
    border-radius: 45px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: right;
    overflow: scroll;
}

input:disabled {
    color: #000000;
}

.altButton {
    width: 96%;
    padding: 10px;
    margin: 10px;
    border-radius: 45px;
}

.searchResult > .name {
    width: 40%;
    text-align: left;
    margin-left: 20px;
}

.searchResult > .year {
    width: 20%;
    text-align: left;
}

.searchResult > button {
    width: 20%;
    border-radius: 45px;
    align-self: center;
    padding: 0 !important;
    margin: 0 !important;
}