.searchBar > input {
    width: 30%;
    border-radius: 45px;
}
.searchBar > button {
    width: 30%;
    border-radius: 45px;
    height: 45px;
}

.searchResults {
    width: 95%;
    overflow-x: scroll;
}

table {
    width: 95%;
    border-collapse: collapse;
    text-align: left;
    margin-left: 10px;
    padding-left: 10px;
}

td, th {
    /*border: 1px solid #000000;*/
    padding: 20px;
    border-radius: 5px;
}

#reportTableRange table {

}

#reportTableRange th {
    padding: 5px;
    width: max-content;
}

#reportTableRange td {
    padding: 10px;
    width: max-content;
}

th {
    background-color: var(--main-color);
    color: white;
}

.centerAlign {
    text-align: center;
    /*padding: 0;*/
}

.noBorder {
    border: 0;
}

select {
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
    box-shadow: var(--shadow);
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 11px;
}

.halfInput {
    width: 15% !important;
}

.verticalText {
    writing-mode: sideways-lr;
    horiz-align: center;
}

.green {
    background-color: #1aff00;
}

.grey {
    background-color: #aaaaaa;
}

.white {
    background-color: #ffffff;
}

.red {
    background-color: #ff001e;
}

.textOnHover {
    color: transparent;
    text-align: center;
    transition: color 0.1s ease-in;
}

.textOnHover:hover {
    color: #000000;
}